.tabcontent {
  display: flex; /* or inline-flex */
  flex-direction: column;
  justify-content: space-around;
  margin: 20px
  align-content: space-between;
  color: black;
  background-color: #ffffff;  /* Blue */
  padding: 50px 0;
}

#offset {
  order: <0>;
  display: block;
  border: 1px solid black;  /* For debugging */

}

#fruits {
  order: <1>;
  display: flex;
  border: 1px solid black;  /* For debugging */
  height: 500px;
}

#vegetables {
  order: <2>;
  display: flex;
  border: 1px solid black;  /* For debugging */
  height: 500px;
}

#grains {
  order: <3>;
  display: flex;
  border: 1px solid black;  /* For debugging */
  height: 500px;
}

#nutsandseeds {
  order: <4>;
  display: flex;
  border: 1px solid black;  /* For debugging */
  height: 500px;
}

#dairy {
  order: <5>;
  display: flex;
  border: 1px solid black;  /* For debugging */
  height: 500px;
}

#fats {
  order: <6>;
  display: flex;
  border: 1px solid black;  /* For debugging */
  height: 500px;
}

#spices {
  order: <7>;
  display: flex;
  border: 1px solid black;  /* For debugging */
  height: 500px;
}

#condiments {
  order: <8>;
  display: flex;
  border: 1px solid black;  /* For debugging */
  height: 500px;
}

#protein {
  order: <9>;
  display: flex;
  border: 1px solid black;  /* For debugging */
  height: 500px;
}

#herbs {
  order: <10>;
  display: flex;
  border: 1px solid black;  /* For debugging */
  height: 500px;
}

#drinks {
  order: <11>;
  display: flex;
  border: 1px solid black;  /* For debugging */
  height: 500px;
}

#snacks {
  order: <12>;
  display: flex;
  border: 1px solid black;  /* For debugging */
  height: 500px;
}

#miscellaneous {
  order: <13>;
  display: flex;
  border: 1px solid black;  /* For debugging */
  height: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
